extends layout 

block content 

  h1  #{disctype.name}s

  ul  
   each disc in disctype_discs
    li 
      a(href=disc.url) #{disc.manufacturer.name + " " + disc.name}


  hr
  p
   a(href=disctype.url+'/delete') Delete disctype