extends layout 

block content   
  h1= title 

  if manufacturer_list.length 
    ul 
      each company in manufacturer_list 
        li 
          a(href=company.url) #{company.name}

  else 
    p No disc manufacturers to show. Sad.ß